*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Custom properties */

:root {
  --ff-primary: 'Lora', serif;
  --ff-secondary: 'Roboto Slab', serif;

  --fw-reg: 400;
  --fw-bold: 700;

  /* -- for the custom type */
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent:rgb(190, 211, 74);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.5),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.75);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*General Properties*/

html{
    scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/*typography*/

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin: 0.25em;
}
strong {
  font-weight: var(--fw-bold);
}

/* button */
/* .btn{
    display: inline-block;
    padding: .5em 1.5em;
    color: var(--clr-dark);
    background: var(--clr-accent);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transform: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
} 

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}*/

.btn {
  position: relative;
  display: inline-block;
  padding: 25px 50px;
  background: rgb(32, 128, 218);
  margin: 60px 0;
  color: #03e9f4;
  text-decoration: none;
  font-size: 24px;
  text-transform: lowercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  -webkit-box-reflect: below 1px linear-gradent(transparent, #0005);
}

.btn:nth-child(1) {
  filter: hue-rotate(290deg);
}

.btn:nth-child(3) {
  filter: hue-rotate(145deg);
}

.btn:hover {
  background: #03e9f4;
  text-transform: uppercase;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 7px #03e9f4;
}

.btn span {
  position: absolute;
  display: block;
}

.btn span:nth-child(1) {
  top: 0;
  left: -100;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 2s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* sections */

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: 0.25em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  max-height: 25px;
}

/*nav*/
.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: rgb(34,195,66);
  background: radial-gradient(circle, rgba(34,195,66,1) 0%, rgba(0,0,0,1) 100%);
  color: var(--clr-light);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  transform: translate(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav{
  transform: translate(0);
}

.nav-open .nav-toggle{
    position: fixed;
}

.nav-open .hamburger{
    transform: rotate(.625turn);
}

.nav-open .hamburger::before{
    transform: rotate(90deg);   /* translate(-6px); */
}

.nav-open .hamburger::after{
    opacity: 0;
}

/* hamburger */
.hamburger {
  position: relative;
  display: block;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}
/*intro section*/

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 /1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* My service section */

.my-services {
  background-color: var(--clr-dark);
  background-image: url(../images/full2.jfif);
  /* filter: blur(8px);
    -webkit-filter: blur(8px); */
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
}

.section__title--services::after {
  content: "";
  display: block;
  width: 3em;
  height: 2px;
  margin: 0.5em auto 1em;
  background: currentColor;
  opacity: 0.5;
}

.services {
  margin-bottom: 4em;
}

.services {
  max-width: 500px;
  margin: 0 auto;
}

.service{
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* icons portfolio */
.icons{
  height: 100px;
  width: 100px;
  display: flex;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,115,121,1) 35%, rgba(0,212,255,1) 100%); 
  border-radius: 50%;
  align-items: center;
  justify-content: space-evenly;
  margin:1rem auto;
}

.icons i{
  font-size: 2rem;

}


@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .services + .services {
    margin-left: 2em;
  }

  /* .services::after{
    border-left: 6px solid green;
    height: 15em;
    width: 1em;
  } */

  /* .services::after + .services::after {
    content: "";
    display: block;
    width: 1em;
    height: 15em;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0.5;
  } */
}

/* about me */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
  border-radius: 5em;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}




/* my work */
.my-work {
  background: rgb(25,43,133);
  background: radial-gradient(circle, rgba(25,43,133,1) 4%, rgba(25,43,133,1) 12%, rgba(24,38,109,1) 19%, rgba(24,36,102,1) 28%, rgba(23,33,91,1) 33%, rgba(23,30,80,1) 42%, rgba(23,28,72,1) 50%, rgba(23,25,59,1) 68%, rgba(23,20,41,1) 77%, rgba(25,43,133,1) 89%, rgba(23,15,20,1) 90%, rgba(23,12,8,0.5049370089832808) 100%);
  color: var(--clr-light);
  text-align: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: bolder;
}
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 2em;
  flex: 0 0 calc(12.5% - 1rem);

}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__img:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.5;
}


/* domains */
.my-domains {
  background: rgb(195,34,184);
  background: radial-gradient(circle, rgba(195,34,184,1) 0%, rgba(0,0,0,1) 100%); 
  color: var(--clr-light);
  text-align: center;
}


/* footer */
.footer {
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  color: var(--clr-light);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: 0.7;
}

/* hover footer link */
.footer__link {
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;

  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );

  -moz-background-size: 250% 250%, 100% 100%;
  background-size: 250% 250%, 100% 100%;

  -webkit-transition: background-position 0s ease;
  -moz-transition: background-position 0s ease;
  -o-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.footer__link:hover {
  background-position: 0 0, 0 0;

  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}


/* portfolio individual */
.portfolio-item-individual{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}
.first_test{
  color: #2b1b06;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  /* width: 40%; */
  background: #f3d8d8;
  text-align: left;
  padding: 18px;
  border-radius: 18px;
  margin: 5px;
}

.portfolio-item-individual p{
  color: burlywood;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  /* width: 40%; */
  background: #f50909;
  text-align: left;
  padding: 18px;
}


/* buttom scroll */
#scrollToTopBtn {
  background-color:skyblue;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;

  position: fixed;
  bottom: 30px;
  right: 30px;

}
